@charset "UTF-8";

html {
  font-size: 100%;
  /* max-width: 800px;
  min-width: ;
  margin: 0 auto; */
}
body {
  font-family: Verdana, sans-serif;
  line-height: 1.7;
  color: #fff;
  background-color:rgb(41, 66, 88);
  letter-spacing: 0.3rem;
}

.sub-bg {
  background-color: rgb(22, 38, 53);
}

a {
	text-decoration: none;
  color: #fff;
}

a:hover {
  color: rgb(215, 238, 111);
}

.wrapper {
	max-width: 1100px;
	margin: 0 auto ;
	padding: 0 4% /* スマホ用余白指定 */
}

.wrap {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  /* grid-template-rows: repeat(auto-fill,minmax(250px,1fr)); */
  grid-gap: 30px;
}

.header {
 height: 80px;
 /* margin: 10px auto; */
}

.nav {
  display: flex;
	justify-content: space-around;
  margin: 10px;
}

.nav > p {
  display: flex;
  text-align: end;
}


.works {
  /* width: 100%; */
  /* height: 100%; */
}

.work {
  padding: 5px 10px;
  text-align: center;
  border-radius: 15px;
  background-color: rgb(22, 38, 53);
}

.work > p {
  
}

#image {
  text-align: center;
}

#image > img {
  border-radius: 10px;
  vertical-align: top;
  width: 200px; 
  height: 200px;
}

