@charset "UTF-8";

html {
  font-size: 100%;
  /* max-width: 800px;
  min-width: ;
  margin: 0 auto; */
}
body {
  font-family: Verdana, sans-serif;
  line-height: 1.7;
  color: #fff;
  background-color:rgb(41, 66, 88);
  letter-spacing: 0.3rem;
}

.sub-bg {
  background-color: rgb(28, 47, 65);
}

a {
	text-decoration: none;
  color: #fff;
}

a:hover {
  color: rgb(215, 238, 111);
}

.wrapper {
	max-width: 1100px;
	margin: 0 auto ;
	padding: 0 4% /* スマホ用余白指定 */
}

.wrap {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  /* grid-template-rows: repeat(auto-fill,minmax(250px,1fr)); */
  grid-gap: 30px;
}

.header {
 height: 80px;
 /* margin: 10px auto; */
}

.nav {
  display: flex;
	justify-content: space-around;
  margin: 10px;
}

.nav > p {
  display: flex;
  text-align: end;
}

#thum {
  margin: 50px auto;
}

#thum > img {
  box-shadow: 30px 20px 0 rgb(28, 47, 65);
}

article {
  padding: 10px 40px 25px;
}

.hobby {
  padding: 40px 25px;
  margin: 10px auto;
  background-color: rgb(28, 47, 65);
}

.accordion {
  width: 200px;
  margin: 0 auto;
}
.menu {
  background-color: rgb(41, 66, 88);
  color: #fff;
  font-size: 18px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
.menu:hover,
.menu:active,
.menu.is-active {
  background-color: rgb(41, 66, 88);
}
.contents {
  text-align: center;
  line-height: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition-duration: 0.4s;
}
 
.contents.is-open {
  border: 1px solid rgb(41, 66, 88);
  padding: 10px;
  line-height: normal;
  height: auto;
  opacity: 1;
}



.works {
  /* width: 100%; */
  /* height: 100%; */
}

.work {
  padding: 5px 10px;
  text-align: center;
  border-radius: 15px;
  background-color: rgb(28, 47, 65);
}

.work > p {
  
}

#image {
  text-align: center;
}

#image > img {
  border-radius: 10px;
  vertical-align: top;
  width: 200px; 
  height: 200px;
}

